infrastructure/n8n/workflows/captcha-handler.json
{
  "name": "SIN-Solver Captcha Alert Handler",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "captcha-alert",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Captcha Alert Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "captcha-alert-webhook"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "recaptcha",
              "leftValue": "={{ $json.body.captchaType }}",
              "rightValue": "recaptcha",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "switch-type",
      "name": "Switch Captcha Type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [450, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://zimmer-19-captcha-worker:8019/api/solve/recaptcha",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "siteKey", "value": "={{ $json.body.siteKey }}" },
            { "name": "pageUrl", "value": "={{ $json.body.pageUrl }}" },
            { "name": "sessionId", "value": "={{ $json.body.sessionId }}" }
          ]
        },
        "options": { "timeout": 120000 }
      },
      "id": "solve-recaptcha",
      "name": "Solve reCAPTCHA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [650, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://zimmer-19-captcha-worker:8019/api/solve/hcaptcha",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "siteKey", "value": "={{ $json.body.siteKey }}" },
            { "name": "pageUrl", "value": "={{ $json.body.pageUrl }}" },
            { "name": "sessionId", "value": "={{ $json.body.sessionId }}" }
          ]
        },
        "options": { "timeout": 120000 }
      },
      "id": "solve-hcaptcha",
      "name": "Solve hCaptcha",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [650, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://zimmer-18-survey-worker:8018/api/captcha/solved",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "sessionId", "value": "={{ $json.sessionId }}" },
            { "name": "solution", "value": "={{ $json.solution }}" }
          ]
        },
        "options": {}
      },
      "id": "resume-survey",
      "name": "Resume Survey",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, solution: $json.solution }) }}",
        "options": {}
      },
      "id": "respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1050, 300]
    }
  ],
  "connections": {
    "Captcha Alert Webhook": { "main": [[{ "node": "Switch Captcha Type", "type": "main", "index": 0 }]] },
    "Switch Captcha Type": {
      "main": [
        [{ "node": "Solve reCAPTCHA", "type": "main", "index": 0 }],
        [{ "node": "Solve hCaptcha", "type": "main", "index": 0 }]
      ]
    },
    "Solve reCAPTCHA": { "main": [[{ "node": "Resume Survey", "type": "main", "index": 0 }]] },
    "Solve hCaptcha": { "main": [[{ "node": "Resume Survey", "type": "main", "index": 0 }]] },
    "Resume Survey": { "main": [[{ "node": "Respond", "type": "main", "index": 0 }]] }
  },
  "active": true,
  "settings": { "executionOrder": "v1" },
  "versionId": "1",
  "meta": { "templateCredsSetupCompleted": true },
  "tags": ["captcha", "automation", "sin-solver"]
}
