infrastructure/n8n/workflows/survey-automation.json
{
  "name": "SIN-Solver Survey Automation",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "minutes", "minutesInterval": 15 }]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://zimmer-18-survey-worker:8018/api/status",
        "options": {}
      },
      "id": "check-survey-status",
      "name": "Check Survey Worker Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "condition-idle",
              "leftValue": "={{ $json.status }}",
              "rightValue": "idle",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-idle",
      "name": "IF Idle",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://zimmer-18-survey-worker:8018/api/surveys/available",
        "options": {}
      },
      "id": "get-available-surveys",
      "name": "Get Available Surveys",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [850, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://zimmer-18-survey-worker:8018/api/surveys/start",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "platform", "value": "={{ $json.surveys[0].platform }}" },
            { "name": "surveyId", "value": "={{ $json.surveys[0].id }}" }
          ]
        },
        "options": {}
      },
      "id": "start-survey",
      "name": "Start Survey",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1050, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://zimmer-09-clawdbot:8080/api/notify",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "message", "value": "Survey gestartet: {{ $json.platform }} - {{ $json.surveyId }}" },
            { "name": "type", "value": "info" }
          ]
        },
        "options": {}
      },
      "id": "notify-start",
      "name": "Notify Start",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1250, 200]
    },
    {
      "parameters": {},
      "id": "no-op",
      "name": "No Operation",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [850, 400]
    }
  ],
  "connections": {
    "Schedule Trigger": { "main": [[{ "node": "Check Survey Worker Status", "type": "main", "index": 0 }]] },
    "Check Survey Worker Status": { "main": [[{ "node": "IF Idle", "type": "main", "index": 0 }]] },
    "IF Idle": {
      "main": [
        [{ "node": "Get Available Surveys", "type": "main", "index": 0 }],
        [{ "node": "No Operation", "type": "main", "index": 0 }]
      ]
    },
    "Get Available Surveys": { "main": [[{ "node": "Start Survey", "type": "main", "index": 0 }]] },
    "Start Survey": { "main": [[{ "node": "Notify Start", "type": "main", "index": 0 }]] }
  },
  "active": true,
  "settings": { "executionOrder": "v1" },
  "versionId": "1",
  "meta": { "templateCredsSetupCompleted": true },
  "tags": ["survey", "automation", "sin-solver"]
}
